.navbar {
    width: 100%;
    height: 60px; /* Ustawiona wysokość navbara */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333; /* Przykładowy kolor tła */
    color: white;
    z-index: 1000; /* Upewnia się, że navbar jest nad innymi elementami */
    display: flex;
    align-items: center; /* Centruje treść w pionie */

    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Lekkie cieniowanie pod navbar */
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Zapewnia, że kontener rozciąga się na całą szerokość navbara */
}

.navbar-logo {
    display: flex;
    align-items: center; /* Centruje logo w pionie */
    justify-content: center; /* Centruje logo w poziomie */
    padding: 10px;
}

.navbar-logo img {
    max-height: 40px; /* Dostosuj do wysokości navbara */
    max-width: 90%; /* Zapobiega wyjściu poza kontener */
}

.navbar-toggler {
    display: none;
    background-color: #444;
    border: none;
    color: white;
    padding: 8px;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    align-items: center; /* Centruje linki w pionie */
}

.navbar-links a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-size: 1.15rem;
}

.navbar-links.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px; /* Ustawienie pozycji pod navbar */
    left: 0;
    background-color: #333; /* Tło dla rozwijanego menu */
}

