<div id="overlay" (click)="closeAddModal()"></div>
<div id="container">
    <div id="header">Dodawanie fiszki</div>
    <form [formGroup]="addFlashcardForm" (ngSubmit)="addFlashcard()">
        <div id="content">
            <div class="field">
                <input type="text" id="front" formControlName="front" placeholder="Przód fiszki">
                <span *ngIf="addFlashcardForm.controls['front'].errors?.['required'] && (addFlashcardForm.controls['front'].dirty || addFlashcardForm.controls['front'].touched)" class="form-error">
                    *Pole jest wymagane.
                </span>
            </div>
            <div class="field">
                <input type="text" id="back" formControlName="back" placeholder="Tył fiszki">
                <span *ngIf="addFlashcardForm.controls['back'].errors?.['required'] && (addFlashcardForm.controls['back'].dirty || addFlashcardForm.controls['back'].touched)" class="form-error">
                    *Pole jest wymagane.
                </span>
            </div>
        </div>
        <div id="actions">
            <button type="submit" class="btn btn-custom" [disabled]="addFlashcardForm.invalid">Dodaj fiszkę</button>
            <button type="button" class="cancel btn" (click)="closeAddModal()">Anuluj</button>
        </div>
    </form>
</div>