.loginContainer {
    width: 100%;
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginContainer h2 {
    text-align: center;
}

.loginContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.loginContainer form div {
    margin: 5px;
}

.loginContainer form input {
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px; 
}

.login {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    background: white; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin: auto; 
}

.loginButton {
    width: 100%;
    padding: 10px 0;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.loginButton:hover {
    opacity: 0.8;   
}

.loginButton:disabled {
    opacity: 0.6;   
    cursor: not-allowed;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}


.loginContainer .formActions {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.linkContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.registerLink {
    color: #555; 
    text-decoration: none; 
    margin: 10px 0; 
}