<nav class="navbar">
  <div class="navbar-container">
    <a href="/" class="navbar-logo">
      <img src="assets/images/logo.png" alt="Logo">
    </a>
    <div *ngIf="isUserLoggedIn" class="navbar-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">O aplikacji</a>
      <a routerLink="/sets" routerLinkActive="active">Zbiory</a>
      <a routerLink="/login" routerLinkActive="active" (click)="logout()">Wyloguj się</a>
    </div>
    <div *ngIf="!isUserLoggedIn" class="navbar-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">O aplikacji</a>
      <a routerLink="/login" routerLinkActive="active">Logowanie</a>
      <a routerLink="/register" routerLinkActive="active">Rejestracja</a>
    </div>
  </div>
</nav>